body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.main-page{
    width: 100%;
    background: linear-gradient(270deg, #a5deff 0%, rgba(252, 254, 254, 0.6) 100%);
}
.main-page-text-container{
    border-radius: 40px;
    background: #fff5ab;
    padding: 60px;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}
.main-page-hello-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000;
    margin-top: 0;
    margin-bottom: 60px;
}
.main-page-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 112%;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 24px;
}
.main-page-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-top: 0;
    margin-bottom: 32px;
}
.main-page-btn{
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border-radius: 8px;
    padding: 12px 24px;
    background: #ff6b0a;
}
.goit-logo{
    position: absolute;
    top:32px;
    left:0;
}
.facts{
    padding-top: 48px;
    padding-bottom: 100px;
    text-align: center;
}
.facts-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 32px;
}
.facts-descr{
    width: 772px;
    margin: 0 auto 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom:0;
}
.facts-item-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 32px;
}
.facts-trezub{
    margin-bottom: 24px;
}
.facts-item-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1f;
    margin-top: 0;
    margin-bottom: 0;
}
.facts-item{
    width: calc((100% / 3) - (24px * 2) / 3);
}
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(270deg, #a5deff 0%, rgba(252, 254, 254, 0.6) 100%);
}
.form{
    border-radius: 40px;
    background: #FFF5AB;
    padding: 32px 60px 60px;
    box-sizing: border-box;
    text-align: center;
}
.form-trezub{
    margin-bottom: 32px;
}
.form-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #1B1D1F;
    margin-top: 0;
    margin-bottom: 12px;
}
.form-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1B1D1F;
    margin-top: 0;
    margin-bottom: 24px;
}
.form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}
.form-field-last{
    margin-bottom: 48px;
}
.form-field-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1B1D1F;
    margin-bottom: 8px;
}
.form-input{
    border: 1px solid #FF6B0A;
    width: 100%;
    border-radius: 8px;
    width: 453px;
    height: 60px;
    padding: 12px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
}
.form-btn{
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    background: #FF6B0A;
    border: none;
}
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}